@import "../../../global/colors.less";
// @import "../../../global/fonts.less";
@import "../../../global/spacing.less";


.datePickerWrapper {
    padding-top: @belowHeaderPadding;
}

//override for date picker not respecting header when scrolling
:global {
    .picker.picker-input {
        position: inherit;
    }
    .picker-input__text, .calendar__body--table th {
        color: @themeMenuText;
    }
}
