@import "../../../global/colors.less";
@import "../../../global/fonts.less";
@import "../../../global/spacing.less";

.fileSelectContainer {
    display: flex;
    font-family: @menuFontFamily;
}

.directions {
    color: @themeMenuText;
    font-size: @textMenu;
}

.input {
    padding-left: 1em;
}