@import "../../../global/colors.less";
@import "../../../global/fonts.less";
@import "../../../global/spacing.less";

.addFilesContentContainer {
    display: flex;
    flex-direction: column;
    margin-top: @headerMargin;
    margin-left: @containerMargin;
    margin-right: @containerMargin;
    padding-top: @belowHeaderPadding;
}

.fileSelectContainer {

}

.resultsContainer {

}

