@import "../../../../../global/colors.less";

.addIgnoreRuleContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: @themeMenuText;
}

.table {
    align-self: center;
}

