@import "../../../../global/colors.less";
@import "../../../../global/fonts.less";
@import "../../../../global/spacing.less";

.end {}

.navbarItem {
    cursor: pointer;
    color: @themeTextPrimary;
    font-size: @textNavbar;
    font-family: @menuFontFamily;
    padding-left: .5em;
    padding-right: .5em;
    .end {
        padding-right: = 0em;
    }
}

.navbarItemContainer{}