@import "../../../global/colors.less";
@import "../../../global/fonts.less";

// Adapted from https://codesandbox.io/s/ojr02w7x55?from-embed=&file=/src/Autocomplete.js
.options {
  background: @themeBackground;
  // font-size: 1.5rem;
  padding-left: 1em;
  padding-right: .8em;
  border-radius: 0.2em;
  border-color: @themeHighlighted;
  border-style: solid;
  border-width: .05em;
}

.optionActive {
  // background: @themeHighlighted;
  // background-color: @themeHighlighted
  // font-size: 1.5rem;
  // color: #00b4cc;
  font-weight: bold;

}

.noOptions {
  color: @themeBackground;
}

.search {
  // width: 30rem;
  // margin: 10rem auto 2rem auto;
  text-align: right;
  align-content: center;
  // position: relative;
}
.searchBox {
  // border: 4px solid transparent;
  border-radius: 2px;
  // font-size: 2rem;
  // width: 100%;
  // padding: 1rem;
  transition: width 0.3s;
}

ul.options {
  display: block;
  list-style: none;
  // width: 30rem;
  transition: width 0.3s;
  margin: auto;
  &.extraTopMargin {
    margin-bottom: 0;
    margin-right: 0;
    margin-left: 0;
    margin-top: 1.4em;
      &.extraLeftMargin {
        margin-left: -7.7em;
      }
  }
  // &.extraTopMargin {
  //   margin-bottom: 0;
  //   margin-right: 0;
  //   margin-left: 0;
  //   margin-top: 1.4em;
  // }
  // // position: relative;
  position: absolute;
}

// ul.options .extraTopMargin {
//   margin-top: 1.4em;
// }

ul.options li {
  display: block;
  background: @themeBackground;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 1em;
  padding-right: .8em;
  // margin: 10px auto;
  // padding: 10px;
  // font-size: 1.2rem;
  // width: 100%;
  border-radius: 2px;
}

ul.options li:hover {
  font-weight: bold;
  // background-color: @themeHighlighted;
  cursor: pointer;
  // transition: 0.3s all;
}






