@import "../../../../global/colors.less";
@import "../../../../global/fonts.less";
@import "../../../../global/spacing.less";


.graphWrapper {
    display: flex;
    width: 100%;
    // margin-top: @headerMargin;
}

.graph {
    display: flex;
    position: relative;
    // width: 100%;
    height: 50vh;
    width: 90vw;
}

// .graphId {
//     display: flex;
//     width: 100%;
// }


// :global {
//     canvas.chartjs-render-monitor {
//         height: 100%;
//         width: 100%;
//     }
// }

