@themeBlue: #9bbaf5;
@themeBackground: #fdfefe;
@themeTextPrimary: #f3f9f9;
@themeMenuText: #3d3d3d;
@themeTableBackground: #eef5fb;
@themeHighlighted: #f5f1f8;
//  NOTE - some of these are copy/pasted in ChartColors.tsx
@themePurple: #a192bf;
@themeLightMoss: #99bbbb;
@themeCharcoal: #3e4c5e;
@themeIndigo: #2c3d55;
@themeCopper: #a8763e;
@themeOlive: #6F732F;
@themePearl: #CFD2B2;
@themeChamoisee: #AD8350;
@themeCeladon: #80CFA9;
@themeDesertSand: #ECC8AF;
@themeVistaBlue: #829CBC;
@themeDarkPurple: #7a66a1;
@themePlatinum: #E5E5E5;
@themeFairyTale: #E6BCCD;
@themeSage: #B1AE91;
@themeLilac: #D295BF;
@themeCambridgeBlue: #7A9E7E;
@themeEcru: #AFA060;
@themeOlivine: #95BF8F;
@themeAmaranthPurple: #A63A50;
// @themeTiffanyBlue: #95D9C3;
@nonPhotoBlue: #A7E2E3;
@ashGray: #BACDB0;

@themeDarkBlue: #004273;
@themeMidnightGreen: #005F73;
@themeDarkCyan: #0A9396;
@themeTiffanyBlue: #94D2BD;
@themeVanilla: #E9D8A6;
@themeGamboge: #EE9B00;
@themeAlloyOrange: #CA6702;
@themeRust: #BB3E03;
@themeRufous: #AE2012;
@themeAuburn: #9B2226;
