@import "colors.less";
@import "fonts.less";

:global {
    html, body {
      height: 100%;
      margin: 0;
    }

    body {
        background-color: @themeBackground;
        // display: flex;
    }

    button {
        cursor: pointer;
        margin-left: 0.5em;
    }

    // body {
      // font-family: "Open Sans", sans-serif;
      // line-height: 1.25;su
    // }

    table {
      border: 1px solid #ccc;
      border-collapse: collapse;
      margin: 0;
      padding: 0;
      // width: 100%;
      table-layout: fixed;
      font-family: @menuFontFamily;
      background-color: @themeTableBackground;
    }

    table caption {
      font-size: @textSectionHeader;
      margin: .5em 0 .75em;
    }

    table tr {
      // background-color: @themeBackground;
      border: 1px solid #ddd;
      padding: .35em;
    }

    table th,
    table td {
      padding: @textDataHeader;
      text-align: center;
    }

    table td {
        font-size: @textDataEntry;
    }

    table th {
      font-size: @textDataEntry;
      letter-spacing: .1em;
    }

    @media screen and (max-width: 600px) {
      table {
        border: 0;
      }

      table caption {
        font-size: @textMenu;
      }

      table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
      }

      table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
      }

      table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: @textDataEntry;
        text-align: right;
      }

      table td::before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
      }

      table td:last-child {
        border-bottom: 0;
      }
    }

    // dropdown menu
    // ul.options {
    //   display: block;
    //   list-style: none;
    //   width: 30rem;
    //   transition: width 0.3s;
    //   margin: auto;
    //   position: relative;
    // }

    // ul.options li {
    //   display: block;
    //   background: white;
    //   margin: 10px auto;
    //   padding: 10px;
    //   font-size: 1.2rem;
    //   width: 100%;
    //   border-radius: 2px;
    // }


    #globalContentWrapper {
    display: flex;
        flex-direction: column;
        min-height: 100%;
    }

    #footerContainerTarget, #headerContainerTarget, {
        flex-shrink: 0;
    }

    #contentContainerTarget {
      flex-grow: 1;
    }

}

