
.inputField {
    background-color: #ddd;
    border: none;
    padding: 10px 11px 11px 11px;
    border-radius: ;
    box-shadow: none;
    outline: none;
    margin: 0;
    box-sizing: border-box;
}

