@import "../../../../global/colors.less";
@import "../../../../global/fonts.less";
@import "../../../../global/spacing.less";

.topSectionContainer {
    display: flex;
    // flex-direction: column;
}

.topGraphWrapper {
    display: flex;
    padding-bottom: 1.5em;
}

.bottomLeftGraphWrapper {
    display: flex;
}

.contentWrapper {

}

.content {

}

.columnsClassName {
    display: flex;
}
