@import "../../../../global/colors.less";

.addRuleContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: @themeMenuText;
}

.table {
    align-self: center;
}

