// @import '@radix-ui/colors/blackA.css';
// @import '@radix-ui/colors/mauve.css';
// @import '@radix-ui/colors/violet.css';

/* reset */
// button {
//   all: unset;
// }

.toggleGroup {
  display: inline-flex;
  // background-color: var(--mauve6);
  padding-top: 0.25em;
  border-radius: 4px;
  // box-shadow: 0 2px 10px var(--blackA7);
}

.toggleGroupItem {
  background-color: white;
  // color: var(--mauve11);
  height: 35px;
  width: 35px;
  display: flex;
  font-size: 15px;
  line-height: 1;
  align-items: center;
  justify-content: center;
  margin-left: 1px;
}
.toggleGroupItem:first-child {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.toggleGroupItem:last-child {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.toggleGroupItem:hover {
  // background-color: var(--violet3);
}
.toggleGroupItem[data-state='on'] {
  // background-color: var(--violet5);
  // color: var(--violet11);
}
.toggleGroupItem:focus {
  position: relative;
  box-shadow: 0 0 0 2px black;
}
