@import "../../../../global/colors.less";

.failedFile {

}

.failedFileContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: @themeMenuText;
}

.headers {

}

.leftHeader {

}

.rightHeader {

}

.table {
    align-self: center;
}

.descriptionText {
    width: 100%;
    text-align: center;
}
