.resultsContainer {
    display: flex;
    flex-direction: column;
    padding-top: .3em;
    padding-bottom: 1.5em;
}

.failedFileContainer {
    display: flex;
    width: 100%;
}

.entriesContainer {
    display: flex;
    padding-top: 1.5em;
}

.uncategorizedContainer {
    display: flex;
}

.newMerchantsContainer {
    display: flex;
    padding-top: 1.5em;
}

.fullWidthColumns {
    width: 100%;
}