@import "../../global/colors.less";
@import "../../global/fonts.less";

.footerContainer {
    background-color: @themeDarkBlue;
    width: 100%;
    height: 3em;

    display: flex;
    align-items: center;
}

.copyrightText, .disclaimerText {
    color: @themeTextPrimary;
    font-size: @textSmall;
    font-family: @menuFontFamily;
}

.footer {
    padding-left: 1.5em;
}

