@import "../../../global/colors.less";
@import "../../../global/fonts.less";
@import "../../../global/spacing.less";

@containerMargin: 1.5em;

.contentContainer {
    display: flex;
    margin-top: @headerMargin;
    margin-left: @containerMargin;
    margin-right: @containerMargin;
}

.columnsWrapper {

}

.contentWrapper {

}

.content {

}