@import "../../../../global/colors.less";
@import "../../../../global/spacing.less";

.ignoredMerchantsContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: @themeMenuText;
    padding-top: @containerMargin;
}


.table {
    align-self: center;
}

.descriptionText {
    width: 100%;
    text-align: center;
}

.batchSelectCell {
    display: flex;
}

.buttonAndAutoCompleteContainer {
    display: flex;
    padding-top: .5em;
}

.innerCaptionContainer {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

