@import "../../global/colors.less";
@import "../../global/fonts.less";
@import "../../global/spacing.less";

.headerContainer {
    background-color: @themeDarkBlue;
    position: fixed;
    width: 100%;
    height: @headerMargin;
    z-index: 1;
    display: flex;
    align-items: center;
}

.welcomeText {
    color: @themeTextPrimary;
    font-size: @textHeader;
    font-family: @menuFontFamily;
}

.header {
    padding-left: 4.5em;
}

.headerGrid {
    width: 100%;
    display: flex;
    align-items: center;
}

.navbarColumnContainer {
    margin-left: auto;
    padding-right: 4em;
}








