@import "../../../../global/colors.less";
@import "../../../../global/spacing.less";

.addCategoryContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: @themeMenuText;
}

.table {
    align-self: center;
    margin-top: @belowTableMargin
}

