@import "../../../../global/colors.less";
@import "../../../../global/spacing.less";

.categoriesContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    color: @themeMenuText;
}

.headers {

}

.merchantHeader {

}

.updateSelectedButton {

}

.table {
    align-self: center;
    margin-top: @belowTableMargin;
}

.descriptionText {
    width: 100%;
    text-align: center;
    margin-top: @containerMargin;
}

.batchSelectCell {
    display: flex;
}

.buttonAndAutoCompleteContainer {
    display: flex;
    padding-top: .5em;
}

.innerCaptionContainer {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

