.resultsContainer {
    display: flex;
    flex-direction: column;
    padding-top: .3em;
    padding-bottom: 1.5em;
}

.failedFileContainer {
    display: flex;
    width: 100%;
}

.entriesContainer, .newMerchantsContainer, .ignoredMerchantsContainer, .merchantRulesContainer, .ignoredMerchantRulesContainer, .categoriesContainer {
    display: flex;
}

.entriesContainer, .newMerchantsContainer, .categoriesContainer {
    padding-top: 1.5em;
}

.uncategorizedContainer {
    display: flex;
}

.fullWidthColumns {
    width: 100%;
}